body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 20px;
}

.main-content {
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.same-size-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.image-grid img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: lightblue;
  color: black;
  text-align: center;
  padding: 20px;
}
